<template>
  <div class="text-white flex justify-center pt-40">
    <div
      class="text-gray-800 rounded-t-lg w-96 shadow-lg p-1 bg-gradient-to-b from-indigo-400 h-20"
      >

    <div
      class="header bg-white dark:bg-gray-900 border-b dark:border-gray-700 text-indigo-900 dark:text-gray-200 p-4 rounded-t"
    >
      <div
        class="header bg-white dark:bg-gray-900 border-b dark:border-gray-700 text-indigo-900 dark:text-gray-200 p-4 rounded-t"
      >
        <img src="/assets/images/lms.png" class="w-450 h-50">
        <h1 class="text-2xl font-bold text-center text-black">강사용 로그인</h1>
      </div>
      <div class="grid grid-cols-12 gap-2 text-center ">
      <label for="uname" style="color: #0D0D0D"><b>Username</b></label>
          <div class="col-span-12">
      <el-input
        v-model="user.username"
        type="text"
        class="input"
        placeholder="아이디를 입력해주세요"
        name="uname"
        size="large"
        required
      />
          </div>
      <label for="psw" style="color: #0D0D0D"><b>Password</b></label>
          <div class="col-span-12">
      <el-input
        v-model="user.password"
        type="password"
        class="input"
        placeholder="비밀번호를 입력해주세요!"
        name="psw"
        size="large"
        required
      />
          </div>
          <div class="col-span-12">
      <el-button @click="login" class="button" type="info" size="large">로그인</el-button>
    </div>
    </div>
    </div>
  </div>
  </div>

</template>
<script lang="ts" setup>
import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
import { useAuthStore } from '~/stores/auth';
import {TwButton, TwInput} from "vue3-tailwind"; // import the auth store we just created

const { authenticateUser } = useAuthStore(); // use authenticateUser action from  auth store

const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs

const user = ref({
  username: '',
  password: '',
});
const router = useRouter();

const login = async () => {
  await authenticateUser(user.value); // call authenticateUser and pass the user object
  // redirect to homepage if user is authenticated
  if (authenticated) {
    router.push('/');
  }
};
definePageMeta({
  layout: "front",
});


</script>
