<template>
  <div>
    <h2 class="text-2xl font-bold">취업관리</h2>
    <hr class="my-2 border dark:border-gray-700" />


  </div>
  <div style="max-height: 400px; ">
    <el-table :data="tableData" style="border: 1px solid #ddd;">
      <el-table-column prop="번호" label="번호" width="100"  />
      <el-table-column prop="id" label="id" width="100" />
      <el-table-column prop="이름" label="이름" width="100" />
      <el-table-column prop="과정명" label="과정명" width="" />
      <el-table-column fixed="right" label="관리" width="500">
        <template #default>
          <div style="display: flex;">
              <TwModal backdrop="static" :full-height="false">
                  <template #trigger>
                      <el-button link type="warning" size="default"style="margin: 5px;">취업지원카드 </el-button>
                  </template>
                  <template #header>
                      <div class="text-lg">취업지원카드</div>
                  </template>
                  <template #body>
                      <el-table :data="tableModal" border style="width: 100%">
                          <el-table-column prop="이름" label="이름" width="180" />
                          <el-table-column prop="성별" label="성별" width="180" />
                          <el-table-column prop="전화번호" label="전화번호" width="180" />
                          <el-table-column prop="주소" label="주소" />
                      </el-table>
                      <div>

                      </div>
                  </template>
                  <!--          등록 뒤로가기 버튼 footer -->
                  <template #footer>

                  </template>
              </TwModal>
              <TwModal backdrop="static" :full-height="false">
                  <template #trigger>
                      <el-button link type="primary" size="default"style="margin: 5px;">취업 상담수정 </el-button>
                  </template>
                  <template #header>
                      <div class="text-lg">취업상담 관리</div>
                  </template>
                  <template #body>
                      <div class="demo-date-picker">
                          <div class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                              <span class="demonstration text-sm "style="margin: 2px">등록일자 </span>
                              <el-date-picker
                                      v-model="value1"
                                      type="date"
                                      placeholder="날짜 선택 해주세요"
                                      :size="size"
                                      style="width: 200px"/>
                          </div>
                      </div>
                      <div>
                          <form class="max-w-full mx-auto">
                              <div class="mb-5">
                                  <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 제목</label>
                                  <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl
                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              </div>
                          </form>
                      </div>
                      <div>
                          <form class="max-w-full mx-auto">
                              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 내용 </label>
                              <textarea id="message" rows="4" class="block p-10 w-full text-sm text-gray-900 bg-gray-50
                rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="내용을 입력해주세요...">
                </textarea>
                          </form>
                      </div>
                  </template>
                  <!--          등록 뒤로가기 버튼 footer -->
                  <template #footer>
                      <div style="display: flex; justify-content: flex-end">
                          <TwButton class="buttons" variant="secondary">
                              수정
                          </TwButton>
                          <TwButton class="buttons" variant="secondary" >
                              뒤로가기
                          </TwButton>
                      </div>
                  </template>
              </TwModal>
          <TwModal backdrop="static" :full-height="false">
            <template #trigger>
              <el-button link type="success" size="default"style="margin: 5px;">취업 상담등록 </el-button>
            </template>
            <template #header>
              <div class="text-lg">취업상담 관리</div>
            </template>
            <template #body>
              <div class="demo-date-picker">
                <div class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  <span class="demonstration text-sm "style="margin: 2px">등록일자 </span>
                  <el-date-picker
                    v-model="value1"
                    type="date"
                    placeholder="날짜 선택 해주세요"
                    :size="size"
                 style="width: 200px"/>
                </div>
              </div>
              <div>
                <form class="max-w-full mx-auto">
                  <div class="mb-5">
                    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 제목</label>
                    <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl
                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  </div>
                </form>
              </div>
              <div>
                <form class="max-w-full mx-auto">
                  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 내용 </label>
                  <textarea id="message" rows="4" class="block p-10 w-full text-sm text-gray-900 bg-gray-50
                rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="내용을 입력해주세요...">
                </textarea>
                </form>
              </div>
            </template>
            <!--          등록 뒤로가기 버튼 footer -->
            <template #footer>
                <div style="display: flex; justify-content: flex-end">
                <TwButton class="buttons" variant="secondary">
                  등록
                </TwButton>
                <TwButton class="buttons" variant="secondary" >
                  뒤로가기
                </TwButton>
                </div>
            </template>
          </TwModal>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts" setup>
import {TwButton, TwModal} from "vue3-tailwind";

const tableData = [
  {
    번호: '1',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '임인영',
  },
  {
    번호: '2',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '박진수',
  },
  {
    번호: '3',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '박하림',
  },
  {
    번호: '4',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '권봉주',
  },
  {
    번호: '5',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '이윤진',
  },
  {
    번호: '6',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '임인영',
  },
  {
    번호: '7',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '임인영',
  },
  {
    번호: '8',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '임인영',
  },
  {
    번호: '9',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '김승희',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '최정연',
  },
  {
    번호: '11',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '노지은',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '배병수',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '강민정',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '함수빈',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '주명돈',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '박유미',
  },
  {
    번호: '10',
    id: 'inyoung1',
    과정명: '(디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    이름: '김남호',
  },





  // 여기에 데이터 추가
]
const handleClick = () => {
  console.log('click')
}
const handleDelete = (index: number) => {
  console.log("Delete item at index:", index);
};
import { ref } from 'vue'

const size = ref<'default' | 'large' | 'small'>('default')

const value1 = ref('')
const value2 = ref('')

const shortcuts = [
  {
    text: 'Today',
    value: new Date(),
  },
  {
    text: 'Yesterday',
    value: () => {
      const date = new Date()
      date.setTime(date.getTime() - 3600 * 1000 * 24)
      return date
    },
  },
  {
    text: 'A week ago',
    value: () => {
      const date = new Date()
      date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
      return date
    },
  },
]

const disabledDate = (time: Date) => {
  return time.getTime() > Date.now()
}
const tableModal = [
    {
        이름: '김승희',
        성별:'여',
        전화번호: '010-7544-0561',
        주소: '경기도 시흥시 능곡동',
    },

]

</script>

<style scoped>
.el-table td,
.el-table th {
  padding: 20px; /* 패딩 조정 */
}


</style>
