<template>
  <h2 class="text-2xl font-bold">게시판 등록</h2>
  <div class="bg-gray-200 w-50 h-1 mt-3 "></div>
  <div class="justify-start"> </div>
  <div class="m-2"></div>
    <div class="content m-4 justify-center">
      <div class="m-4">
  <el-form :model="form" label-width="auto" style="margin: 4px; padding: 10px;">
    <el-form-item label="제목">
      <el-input v-model="form.boardTitle" />
    </el-form-item>
    <el-form-item label="작성자">
      <el-input v-model="form.boardWriter" />
    </el-form-item>

    <el-form-item label="내용">
      <el-input class="content" v-model="form.boardContent" type="textarea"  />
    </el-form-item>
    <div class="flex justify-center">
    <el-form-item>
      <el-button type="primary" @click="onSubmit">등록</el-button>
      <el-button>취소</el-button>
    </el-form-item>
    </div>
  </el-form></div>
    </div>


</template>
<style>
el-form{
  height: 30px;
}
.content{

  height: 80%;
  background-color : lightblue;
  border-radius: 30px;
}
</style>
<script lang="ts" setup>
import { reactive } from 'vue'
import { useBoardStore } from '~/stores/boardAdd'


const boardStore = useBoardStore()

// do not use same name with ref
const form = reactive({
  teacherId: 0,
  studentId: 0,
  boardTitle: '',
  boardWriter: '',
  boardContent:'',

})

const onSubmit = () => {
  const payload = {
    teacherId: form.teacherId,
    studentId: form.studentId,
    boardTitle: form.boardTitle,
    boardWriter: form.boardWriter,
    boardContent: form.boardContent
  }
  boardStore.setUser(payload)
  console.log('submit!')
}
</script>
