<!-- 버튼 라우터 연습 ,, ㅎㅎ -->
<template>


<div>
  <el-button type="primary">
    <nuxt-link to="/advice/list" class="btn">안뇽</nuxt-link>
  </el-button>
<!-- nuxt-link를 사용하여 다른 페이지로 이동 -->

</div>
</template>
<style>
.btn{
  width: 100px;
}
</style>
<script setup lang="ts">
</script>
