<!--http://34.64.218.128:8080/swagger-ui/index.html#/ < --- 새로운 배포 주소 -->
<template>
  <div>
    <div>
      <h2 class="text-2xl font-bold">강사 정보</h2>
      <hr class="my-2 border dark:border-gray-700" />
    </div>
    <template>
      <div class="image">
      <form class="inputImg" method="post" enctype="multipart/form-data">
        <div class="addImage" v-if="imageUrl">
          <img :src="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <input type="file" accept="image/*" @change="loadFile">
      </form>
      </div>
      <div class="">
      <el-form  :model="form" label-width="auto" style="max-width: 600px">
        <form  class="max-w-sm mx-auto">
          <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">이름</label>
            <input v-if="teacherChangeData"
                   v-model="form.teacherName"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                   dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   :placeholder="teacherChangeData.data.teacherName"  />
          </div>
          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">전화번호</label>
            <input v-model="form.phoneNumber"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" :placeholder="teacherChangeData.data.phoneNumber"  />
          </div>
          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">주소</label>
            <input v-model="form.address"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" :placeholder="teacherChangeData.data.address"  />
          </div>
          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input v-model="form.email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" :placeholder="teacherChangeData.data.email"  />
          </div>

          <button @click="onSubmit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800
          focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full
           sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">수정</button>
        </form>
      </el-form>
      </div>
    </template>



  </div>
</template>
<script setup lang="ts">
import {storeToRefs} from "pinia";

useHead({
  title: 'Profile'
})
import { reactive } from 'vue'
import{useTeacherStore} from "~/stores/teacher";

const teacherStore = useTeacherStore();
const store = useTeacherStore();
const {teacherChangeData} = storeToRefs(store);
const {getTeacherDetail} = teacherStore;

const imageUrl = ref<string | null>(null);
const loadFile = (event: Event) => {
  const target = event.target as HTMLInputElement;


  const file = target.files?.[0];
  if (file) {
    imageUrl.
    value = URL.createObjectURL(file);
  }
};


// do not use same name with ref
const form = reactive({
  teacherName: '',
  phoneNumber: '',
  address: '',
  email: '',
  dateBirth:'',
  imgSrc: '',
})

await getTeacherDetail().then(() => {

  console.log("성공")
}).catch(() => {
  console.log("실패")
});

const onSubmit = () => {
  const payload ={
    teacherName : form.teacherName,
    phoneNumber : form.phoneNumber,
    address : form.address,
    email : form.email,
    dateBirth : form.dateBirth,
    imgSrc : form.imgSrc
  };
  teacherStore.editProfile(payload);
  console.log('정보수정 완료 !')
}
</script>
<style scoped>
.addImage {
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.inputImg {
  width: 100px;
  height: 50px;
}
</style>
