<template>
  <div>
    <h2 class="text-2xl font-bold">시험답변 리스트</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <div class="table-temp">
      <TwDatatableClient
        :data="makeTestList"
        :column="data.column"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'makeTest'" >
            {{ data.makeTest }}
          </template>
          <template v-if="column.field === 'studentName'">
            {{ data.studentName }}
          </template>
          <template v-if="column.field === 'testStatus'">
            {{data.testStatus}}
          </template>
          <template v-if="column.field === '관리'">
            {{data.dateRegister}}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-3 justify-center">
              <TwButton variant="primary" class="border border-gray-900"  @click="goDetail(data.id)"  >
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
  </div>

  <hr class="my-2 dark:border-gray-700" />
</template>
<script setup lang="ts">
import {useTestStore} from "~/stores/tesetinfo";
import {storeToRefs} from 'pinia';
const store = useTestStore();
const {getAnswerList} = store; // have all non reactiave stuff here
const {makeTestList} = storeToRefs(store); // have all reactive states here
const {getAnswerDetailList} = store; // have all non reactiave stuff here
const {answerTestDetail} =store;
import { ref } from "vue";

import {
  DatatableColumn,
  TwButton,
  TwDatatableClient,
} from "vue3-tailwind";

const goDetail = (id:string) => {
  router.push({
    path: `/anwsertest/detail/${id}`,
  });
}




await getAnswerList().then(() => {
  console.log("성공-----------------------1")

}).catch(() => {
  console.log("실패")
});


const data = ref({
  column: [
    {
      label: "평가명",
      field: "makeTest",
      width: "400px",

    },
    {
      label: "학생명",
      field: "studentName",
      width: "400px",

    },
    {
      label: "응시확인",
      field: "testStatus",
      width: "400px",

    },
    {
      label: "Action",
      field: "action",
      width: "400px",
      sortable: false,
    },

  ] as Array<DatatableColumn>,

});

const router = useRouter();

</script>
