<script setup lang="ts">
useHead({
  title: "Dashboard",
});
import { ref } from 'vue'
import {storeToRefs} from 'pinia';
const value = ref(new Date())

const selectedDate = ref<Date | null>(null);
const scheduleFormVisible = ref(false);
const scheduleForm = ref({ event: '' });

const showScheduleForm = (date: Date) => {
  selectedDate.value = date;
  scheduleFormVisible.value = true;
};
definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})



const addSchedule = () => {
  if (!selectedDate.value) return;

  console.log('일정:', selectedDate.value, '-', scheduleForm.value.event);
  // 여기에 일정을 저장하거나 다른 작업을 수행할 수 있습니다.
  // 예를 들어, 데이터베이스에 저장할 수 있습니다.
  // 이 예제에서는 콘솔에만 출력합니다.

  // 저장 후에는 폼을 닫습니다.
  scheduleFormVisible.value = false;
  // 폼을 초기화합니다.
  scheduleForm.value.event = '';
};


</script>

<template>
  <div>
    <div>
      <h1 class="text-2xl font-bold h-10 text-black ml-1" >강사 대시보드</h1>
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-80">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          </div>
          <input type="text" id="simple-search" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500" placeholder="" required />
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-gray-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
        </button>
      </form>
      <hr class="my-3 border dark:border-black-600"/>
    </div>

    <div class="flex justify-between" style="margin: 50px;">
      <div class="hh hi bg-white w-55 my-6 p-10" style="height: 600px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">

        <p>출결관리</p>
        <div class="flex justify-center my-8">
          <el-timeline style="width: 500px">
            <el-timeline-item timestamp="2024/05/07" placement="top">
              <el-card>
                <h4>java 웹 앱 개발 양성자 A반 결석 / 지각 / 조퇴자 </h4>

              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2024/05/08" placement="top">
              <el-card>
                <h4>java 웹 앱 개발 양성자 A반 결석 / 지각 / 조퇴자</h4>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2024/05/09" placement="top">
              <el-card>
                <h4></h4>
                <h4>java 웹 앱 개발 양성자 A반 결석 / 지각 / 조퇴자 </h4>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2024/05/10" placement="top">
              <el-card>
                <h4>java 웹 앱 개발 양성자 A반 결석 / 지각 / 조퇴자</h4>

              </el-card>
            </el-timeline-item>
          </el-timeline>

        </div>
      </div>
      <div class="flex justify-between">
        <div class="hh hi bg-gray-300 w-80 m-6 pt-9" style="height: 600px; color: black; font-size: 25px; text-align: center; border-radius: 20px;">
          수강 과정률
          <div>
            <ul class="mb-10 ms-4 my-8" >
              <div class="absolute m-2 w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>

              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm"style=""> 전체 수강 일 수  <el-progress
                :text-inside="true"
                :stroke-width="24"
                :percentage="80"
                status="success"
              /></p>

              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm"style=""> 시험 평가률  <el-progress
                :text-inside="true"
                :stroke-width="24"
                :percentage="80"
                status="exception"
              /></p>
            </ul>
            <ul class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024 05 10</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">안녕하세요 김승희 강사님 !</h3>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">오늘도 좋은하루 보내세요 : ) </p>
            </ul>
            <ul class="mb-10 ms-4">
              <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
              <time class="mb-1 text-sm font-normal leading-none text-black dark:text-gray-500">과정명</time>
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">java 웹 앱 개발 양성자 A반</h3>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">강사명 : 김승히 </p>
              <br>
              <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">더보기 <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg></a>
            </ul>


          </div>
        </div>
      </div>

      <div class="aaaaa">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024 05 07</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mt-2">요구사항 구현 시험 알림</h3>
            <p class="mb-6 text-base font-normal text-gray-500 dark:text-gray-400">2024년 05월 15일 java 웹 앱 양성자 A반 요구사항 구현 시험 </p>
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">더보기 <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg></a>
          </li>
          <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024 05 08</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mt-2"> 인터페이스 구현 시험 알림  </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">2024년 05월 15일 java 웹 앱 양성자 A반 요구사항 구현 시험</p>
            <br>
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">더보기 <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg></a>
          </li>
          <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024 05 10</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mt-2">개인 포트폴리오 시험 알림 </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">2024년 05월 15일 java 웹 앱 양성자 A반 요구사항 구현 시험</p>
            <br>
            <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">더보기 <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg></a>

          </li>
        </ol>
      </div>
    </div>
  </div>

</template>



<style>
.demo-progress .el-progress--line {
  margin-bottom: 15px;
  max-width: 600px;
}
.aaaaa{
  justify-content: center;
  margin-left: 40px;
  margin-top: 30px;

}
</style>
