<script setup lang="ts">
import{useTrainingStore} from "~/stores/training";
import {storeToRefs} from 'pinia';
import { useSubjectStore } from "~/stores/subject";
const store = useTrainingStore();
const {getTrainingList} = store; // have all non reactiave stuff here
const {trainingData} = storeToRefs(store); // have all reactive states here
import { ref } from "vue";
const subjectStore = useSubjectStore();
const { getSubjectList } = subjectStore;
const { subjectData } = storeToRefs(subjectStore);
// 과정명 같이...



import {
  DatatableColumn,
  TwButton,
  TwDatatableClient,
} from "vue3-tailwind";
const data = ref({
  column: [
    {
      label: "훈련 날짜",
      field: "dateRegister",
      width: "400px",

    },
    {
      label: "재적",
      field: "registrationNum",
      width: "400px",

    },
    {
      label: "결석",
      field: "absentWho",
      width: "400px",

    },
    {
      label: "지각",
      field: "lateWho",
      width: "400px",

    },
    {
      label: "조퇴",
      field: "earlyLeaveWho",
      width: "400px",

    },
    {
      label: "등록일",
      field: "dateRegister",
      width: "400px",

    },
    {
      label: "Action",
      field: "action",
      width: "400px",
      sortable: false,
    },

  ] as Array<DatatableColumn>,

});

const router = useRouter();
const getDetail = (id:string) => {
  router.push({
    path: `/training/${id}`,
  });
}

const form = reactive({
  subjectId: 0,
});


const fetchTrainingList = () => {
  if (form.subjectId === 0) {
    console.log('과정을 선택해주세요.');
    return;
  }

  getTrainingList(form.subjectId);
};


watch(form, (newValue, oldValue) => {
  console.log('form.subjectId 변경되었습니다:', newValue)
})




await getSubjectList().then(() => {
  console.log("성공-----------------------1")
  console.log(subjectData.value)
}).catch(() => {
  console.log("실패")
});

await getTrainingList(form.subjectId).then(() => {
  console.log("성공-------------------------------2")
  // trainingData는 비동기적으로 업데이트됩니다.
  // console.log(trainingData.value)로 접근해야 합니다.
  console.log(trainingData.value)
}).catch(() => {
  console.log("실패")
});


</script>
<template>
  <div>
    <h2 class="text-2xl font-bold">훈련일지 리스트</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <div>
      <el-form
        v-model="form"
        label-width="auto"
        style="max-width: 500px">
        <div class="flex justify-between p-3">
          <el-select  v-model="form.subjectId" placeholder="과정을 선택해주세요">
            <el-option v-for="subject in subjectData" :key="subject.id" :label="subject.subjectName" :value="subject.id" />
          </el-select>
          <el-button @click="fetchTrainingList">조회</el-button></div>
      </el-form>
    </div>
    <div class="table-temp">
      <TwDatatableClient
        :data="trainingData"
        :column="data.column"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'teacherId'" >
            {{ data.teacherId }}
          </template>
          <template v-if="column.field === 'dateRegister'">
            {{ data.dateRegister }}
          </template>
          <template v-if="column.field === 'registrationNum'">
            {{data.registrationNum}}
          </template>
          <template v-if="column.field === 'absentWho'">
            {{data.absentWho}}
          </template>
          <template v-if="column.field === '관리'">
            {{data.dateRegister}}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-3 justify-center">
              <TwButton variant="primary" class="border border-gray-900" @click="getDetail(data.id)"  >
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
  </div>

  <hr class="my-2 dark:border-gray-700" />
</template>

