<template>
  <div class="calendar">
    <div class="header">
      <button @click="prevMonth">&lt;</button>
      <h2>{{ currentMonth }}</h2>
      <button @click="nextMonth">&gt;</button>
    </div>
    <div class="days">
      <div v-for="(day, index) in DAYS" :key="index" class="day">{{ day }}</div>
      <div v-for="blankday in blankdays" :key="blankday" class="empty"></div>
      <div v-for="date in no_of_days" :key="date" class="date" @click="addEvent(date)">
        <div class="number">{{ date }}</div>
        <div class="event" v-if="hasEvent(date)"></div>
      </div>
    </div>
    <div v-if="showEventModal" class="modal">
      <div class="modal-content">
        <span class="close" @click="closeModal">&times;</span>
        <h2>일정 등록</h2>
        <input type="text" v-model="newEvent" placeholder="Event Title">
        <button @click="saveEvent">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
const MONTH_NAMES = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
const DAYS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

export default {
  data() {
    return {
      month: '',
      year: '',
      no_of_days: [],
      blankdays: [],
      currentMonth: '',
      showEventModal: false,
      newEvent: '',
      selectedDate: null,
      events: []
    };
  },
  methods: {
    initDate() {
      let today = new Date();
      this.month = today.getMonth();
      this.year = today.getFullYear();
      this.currentMonth = `${MONTH_NAMES[this.month]} ${this.year}`;
      this.getNoOfDays();
    },
    prevMonth() {
      this.month--;
      if (this.month < 0) {
        this.month = 11;
        this.year--;
      }
      this.currentMonth = `${MONTH_NAMES[this.month]} ${this.year}`;
      this.getNoOfDays();
    },
    nextMonth() {
      this.month++;
      if (this.month > 11) {
        this.month = 0;
        this.year++;
      }
      this.currentMonth = `${MONTH_NAMES[this.month]} ${this.year}`;
      this.getNoOfDays();
    },
    getNoOfDays() {
      let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
      let dayOfWeek = new Date(this.year, this.month).getDay();
      let blankdaysArray = [];
      for (let i = 1; i <= dayOfWeek; i++) blankdaysArray.push(i);
      let daysArray = [];
      for (let i = 1; i <= daysInMonth; i++) daysArray.push(i);
      this.blankdays = blankdaysArray;
      this.no_of_days = daysArray;
    },
    addEvent(date) {
      this.selectedDate = date;
      this.showEventModal = true;
    },
    saveEvent() {
      if (!this.newEvent || !this.selectedDate) return;
      this.events.push({ date: this.selectedDate, title: this.newEvent });
      this.newEvent = '';
      this.selectedDate = null;
      this.showEventModal = false;
    },
    closeModal() {
      this.newEvent = '';
      this.selectedDate = null;
      this.showEventModal = false;
    },
    hasEvent(date) {
      return this.events.some(event => event.date === date);
    }
  },
  created() {
    this.initDate();
  }
};
</script>

<style scoped>
.calendar {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.empty {
  border: none;
}

.date {
  position: relative;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.number {
  font-weight: bold;
}

.event {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  height: 4px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
</style>
