<template>
  <h2 class="text-2xl font-bold">상담등록</h2>
  <div class="bg-gray-200 w-50 h-1 mt-3 "></div>
  <div class="flex justify-center p-5">
    <div class=" p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <el-form :model="form" :label-position="'top'" label-width="auto" style="width: 800px">

      <el-form-item label="학생id">
        <el-input v-model="form.studentId"/>
      </el-form-item>
      <el-form-item label="학생명">
        <el-input v-model="form.studentName"/>
      </el-form-item>
      <el-form-item label="상담날짜">
        <el-input v-model="form.dateAdvice"/>
      </el-form-item>
      <el-form-item label="상담제목">
        <el-input v-model="form.adviceTitle"/>
      </el-form-item>
      <el-form-item label="etc">
        <el-input v-model="form.etc"/>
      </el-form-item>
      <form :model="form" class="w-full">
        <label class=" mb-2 text-sm  text-gray-900 ">상담내용</label>
        <textarea v-model="form.adviceContent" rows="4" class=" w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300  " placeholder="내용 입력해주세요"></textarea>
      </form>
    </el-form>
    </div>
  </div>
  <div class=" flex justify-center">
    <el-button style="margin: 5px;" @click="onGood">등록</el-button>
  </div>
</template>

<style scoped>

</style>
<script setup lang="ts">

import {reactive} from 'vue'
import  {useAdviceStore} from "~/stores/adviceManagement";

const adviceStore = useAdviceStore()

const form = reactive({
  teacherId:0,
  studentId: 0,
  studentName: '',
  dateAdvice: '',
  adviceContent: '',
  adviceTitle: '',
  etc : '',

})

const onGood = () => {
  const payload = {
    teacherId : form.teacherId,
    studentId : form.studentId,
    studentName : form.studentName,
    dateAdvice : form.dateAdvice,
    adviceContent : form.adviceContent,
    adviceTitle : form.adviceTitle,
    etc : form.etc
  }
  adviceStore.setAdvice(payload)
console.log('성공')
}
</script>
